<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Swift Source File</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.swift-source</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Folder</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.folder</string>
			</array>
		</dict>
	</array>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSAllowedClasses</key>
			<array>
				<string>NSURL</string>
			</array>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Open in Packagify</string>
			</dict>
			<key>NSMessage</key>
			<string>openFinderServiceFiles:</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSApplicationBundleIdentifier</key>
				<string>com.apple.finder</string>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>public.folder</string>
				<string>public.swift-source</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
